@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');


body {
    margin: 0;
    padding: 0 ;
    overflow-x: hidden; 
    
}
i {
    margin: 2px;
}


a {
    text-decoration: none; 
}
.background {
    background-image:url(https://s6.uupload.ir/files/frame_9_mbes.jpg);
    display: flex;
    flex-direction: column;
    /* background-color: #0f0f0f; */
    width: 100vw;
    height: 100vh;
    /* filter: blur(2px);  */
   
    overflow-y: scroll;
}


.navbar {

    display: flex;
    /* position: fixed; */
    flex-direction: row;
    /* background-color: #181818; */
    /* background: #000000; /* fallback for old browsers 
    background: -webkit-linear-gradient(to top, #000000, #84e684);
    background: linear-gradient(to right, #000000, #84e684); */
    height:100px;
    width: 100%;
    z-index: 100;
  
}
.txt{
    font-size: 1.1rem;
    color: white;
    text-align: center;
    font-family: 'Vazirmatn';

}
.col{
    display: flex;
    flex-direction: column;
    height:85%;
    width: 20%;
    padding-left: 0%;
    padding-top: 2%;
    margin: 1%;
}
.row{
    display: flex;
    flex-direction: row;
    height:10%;
    width: 90%;
 
    /* padding-top: 10px; */

}
.product{
    display: flex;
    flex-direction: row;
    height:85%;
    width: 90%;
    margin-top:10%;
    margin-left: 5%;
    overflow-y:scroll ;
}
.filter{
    display: flex;
    flex-direction: column;
    height:90%;
    width: 20%;
    padding-left: 0%;
    padding-top: 2%;
    margin: 1%;
    background-color: #181818;
    border-radius: 10px;
}
.down_row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 3%
}
.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.option input {
    display: none;
}

.checkbox-custom {
    width: 18px;
    height: 18px;
    border: 2px solid #7ada8a;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.2s;
}

.option input:checked + .checkbox-custom {
    background-color: #84df7d;
    border-color: #308140;
}

.option input:checked + .checkbox-custom::after {
    content: "✔";
    color: white;
    font-size: 14px;
}

label {
    cursor: pointer;
}
.box {
    margin-top: 10px;
    background-color:#6cbd66 ;
    text-align: center;
    width: 80%;
    margin-left: 15%;
    border-radius: 10px;
}